@keyframes load {
  0% {
    transform: rotateZ(-360deg); } }
* {
  outline: none; }

button {
  width: 150px;
  height: 40px;
  border-radius: 3px;
  background-color: #B9C8C8;
  color: #0B2A76;
  border: 2px #B9C8C8 outset;
  font-size: 1em;
  cursor: pointer; }

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url("./img/Group4.png");
  background-position: center;
  background-size: cover; }

label {
  font-size: 1.5em; }

input, textarea {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  border: 2px solid #A2B19C;
  padding-left: 5px; }

.arrow {
  cursor: pointer;
  min-height: 50px;
  min-width: 50px; }

.comment {
  margin: 20px;
  padding-bottom: 5px;
  border-bottom: 2px dashed #B9C8C8; }
  .comment p, .comment h4 {
    margin: 5px; }

.comment-inputs {
  padding: 20px;
  flex: 3;
  margin-right: 20px; }

.comments {
  text-decoration: underline; }

.fa-caret-right {
  font-size: 4em; }

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .form-content p {
    text-align: left; }

.full-comments {
  text-align: left; }

.full-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 33vh;
  border-bottom: 2px dashed #B9C8C8; }

.full-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.full-message {
  width: 100%; }

.full-post {
  padding: 20px; }
  .full-post p {
    text-align: left; }

.loading {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 10px solid #0B2A76;
  border-top: 10px solid #A2B19C;
  -webkit-animation: load 2s ease-in infinite;
  animation: load 2s ease-in infinite; }

.loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.main {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #0B2A76;
  border: 2px solid #A2B19C;
  min-height: calc(100vh - 60px);
  margin: 20px;
  padding: 2px; }

.new-post {
  width: 80%;
  margin: 0 auto; }

.new-comment, .post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.post {
  margin: 5px 10px;
  padding: 0px 10px;
  border: 2px solid #A2B19C; }

.poster-and-comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%; }
  .poster-and-comments p {
    padding-right: 20px; }

.post-content {
  width: 90%; }

.post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.post-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 200px; }

.post-btn-container {
  padding-right: 10px; }

.post-container {
  margin-top: 50px; }

.title-user {
  text-align: left; }
  .title-user h1, .title-user h2 {
    margin: 5px; }

#cancel {
  margin-right: 20px; }

#message-input, #comment-input {
  height: 130px; }

#reply-btn {
  width: 200px;
  margin-right: 20px; }

/*# sourceMappingURL=App.css.map */
