* {
  outline: none; }

button {
  width: 150px;
  height: 40px;
  border-radius: 3px;
  background-color: #B9C8C8;
  color: #0B2A76;
  border: 2px #B9C8C8 outset;
  font-size: 1em;
  cursor: pointer; }

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url("./img/Group7.png");
  background-position: center;
  background-size: cover; }
  header h1 {
    text-shadow: 2px 2px 5px rgba(200, 200, 200, 0.8); }
  @media screen and (max-width: 768px) {
    header {
      height: 300px; }
      header h1 {
        width: 300px; } }

label {
  font-size: 1.5em; }

input, textarea {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  border: 2px solid #A2B19C;
  padding-left: 5px; }

.arrow {
  cursor: pointer;
  min-height: 50px;
  min-width: 50px; }
  @media screen and (max-width: 768px) {
    .arrow {
      display: none;
      min-width: 0px; } }

.back {
  margin-left: 20px; }
  @media screen and (max-width: 768px) {
    .back {
      position: absolute;
      bottom: 20px;
      left: 0px;
      width: calc(100% - 44px); } }

.comment {
  margin: 20px;
  padding-bottom: 5px;
  border-bottom: 2px dashed #B9C8C8; }
  .comment p, .comment h4 {
    margin: 5px; }

.comment-inputs {
  padding: 20px;
  flex: 3;
  margin-right: 20px; }
  @media screen and (max-width: 768px) {
    .comment-inputs {
      margin-right: 0px;
      flex: 1;
      width: 100%; } }

.comments {
  text-decoration: underline;
  cursor: pointer; }

.fa-caret-right {
  font-size: 4em; }

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .form-content p {
    text-align: left; }
  @media screen and (max-width: 768px) {
    .form-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.full-comments {
  text-align: left; }

.full-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 33vh;
  border-bottom: 2px dashed #B9C8C8; }

.full-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .full-details {
      display: block; } }

.full-message {
  width: 100%; }

.full-post {
  padding: 20px; }
  .full-post p {
    text-align: left; }

.fullPost-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  @media screen and (max-width: 768px) {
    .fullPost-details {
      display: block; } }

.main {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #0B2A76;
  border: 2px solid #A2B19C;
  min-height: calc(100vh - 60px);
  margin: 20px;
  padding: 2px; }
  @media screen and (max-width: 768px) {
    .main {
      position: absolute;
      top: 0; } }

.new-post {
  width: 80%;
  margin: 0 auto; }

.new-comment, .post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .new-comment, .post {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.post {
  margin: 10px 20px;
  padding: 0px 10px;
  border: 2px solid #A2B19C; }

.poster-and-comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%; }
  .poster-and-comments p {
    padding-right: 20px; }
  @media screen and (max-width: 768px) {
    .poster-and-comments {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .poster-and-comments p {
        padding-right: 0px; } }

.post-content {
  width: 90%; }
  .post-content h2 {
    overflow: none; }
  @media screen and (max-width: 768px) {
    .post-content {
      width: 100%; } }

.post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.post-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  padding-right: 10px; }
  @media screen and (max-width: 768px) {
    .post-btn-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-right: 0px; } }

.post-container {
  margin-top: 50px; }

@media screen and (max-width: 768px) {
  .post-update {
    display: none; } }

.title-user {
  text-align: left; }
  .title-user h1, .title-user h2 {
    margin: 5px; }
  @media screen and (max-width: 768px) {
    .title-user {
      width: 100%; } }

#cancel {
  margin-right: 20px; }
  @media screen and (max-width: 768px) {
    #cancel {
      margin-right: 30px; } }

#message-input, #comment-input {
  height: 130px; }

#reply-btn {
  width: 200px;
  margin-right: 20px; }
  @media screen and (max-width: 768px) {
    #reply-btn {
      margin-right: 0px;
      width: 100%;
      margin-bottom: 80px;
      border-bottom: 2px solid #A2B19C; } }

/*# sourceMappingURL=App.css.map */
