$font-stack: 'Lato', sans-serif;
$primary-color: #0B2A76;
$secondary-color: #B9C8C8;
$accent-color: #2C4921;
$border: 2px solid $accent-color;

@mixin flex-options($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 3px;
  background-color: $secondary-color;
  color: $primary-color;
  border: 2px $secondary-color outset;
  cursor: pointer;
}

header {
  @include flex-options(row, center, center);
  height: 200px;
  background-color: $secondary-color;
}

label {
  font-size: 1.5em;
}

input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  border: $border;
  padding-left: 5px;
}

.App {
  text-align: center;
  font-family: $font-stack;
  color: $primary-color;
  border: $border;
  min-height: calc(100vh - 60px);
  margin: 30px;
  padding: 2px;
}

.comments {
  text-decoration: underline;
}

.fa-caret-right {
  font-size: 4em;
}

.form-content {
  @include flex-options(column, center, flex-start)
}

.new-post {
  width: 80%;
  margin: 0 auto;
}

.post {
  @include flex-options(row, space-between, center);
  margin: 5px 10px;
  padding: 0px 10px;
  border: $border;
  // width: 100%;
}

.poster-and-comments {
  @include flex-options(row, flex-start, center);
  width: 50%;

  p {
    padding-right: 50px;
  }
}

.post-content {
  width: 90%;
}

.post-details {
   @include flex-options(row, space-between, center);
}

.post-btn-container {
  @include flex-options(row, flex-end, center);
  height: 200px;
}

.post-btn-container {
  padding-right: 10px;
}

.post-container {
  margin-top: 50px;
}

#message-input {
  height: 130px;
}


